.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--box-background);
  padding: 31.5px 16px;
  border-radius: 16px;
}

.details {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 240px) {
  .details {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .wrapper {
    margin-bottom: 35px;
  }
}

@media (max-width: 372px) {
  .wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 8px;
  }
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: var(--line-height);
  color: #27272a;
}

.description {
  font-weight: 400;
  font-size: 12px;
  line-height: var(--line-height);
  color: #71717a;
}

.value {
  font-weight: 600;
  font-size: 36px;
  line-height: var(--line-height);
  color: #27272a;
}
