.header,
.storeDropDown,
.profile,
.main {
  display: flex;
  align-items: center;
}

.storeDropDown,
.notification,
.profile {
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  justify-content: space-between;
  background-color: var(--box-background);
  /* padding: 16.18px 5.486vw; */
  padding-inline: 5.486vw;
  height: 80px;
  width: 100%;
}

.main {
  gap: 16px;
}

.menu {
  display: none;
  cursor: pointer;
}

.logoWrapper {
  position: relative;
  width: 174px;
  aspect-ratio: 3.107 / 1;
}

.profile,
.storeDropDown {
  gap: var(--gap-secondary);
}

.profileImage {
  position: relative;
  width: clamp(2.2em, 3.334vw, 4em);
  aspect-ratio: 1/1;
}

.storeText {
  font-size: 16px;
  font-weight: 500;
  line-height: var(--line-height);
  color: #3f3f46;
}

.name {
  font-size: 14px;
  font-weight: 500;
  color: #03152a;
}

.occupation {
  font-size: 12px;
  line-height: var(--line-height);
  color: #71717a;
}

@media (max-width: 800px) {
  .name {
    font-size: 12px;
  }

  .occupation {
    font-size: 10px;
  }

  .storeText {
    font-size: 14px;
  }

  .header {
    padding: 24px;
  }

  .logoWrapper {
    width: 107px;
  }
}

@media (max-width: 600px) {
  .main {
    display: none;
  }
  .menu {
    display: block;
  }
}
