.main {
  padding: var(--gap) 48px 0 var(--gap);
  height: 100%;
  max-width: calc(100% - 260px);
  width: calc(100% - 260px);
  min-width: calc(100% - 260px);
}

@media (max-width: 1200px) {
  .main {
    width: calc(100% - 225px);
    max-width: calc(100% - 225px);
    min-width: calc(100% - 225px);
  }
}

@media (max-width: 1000px) {
  .main {
    width: calc(100% - 75px);
    max-width: calc(100% - 75px);
    min-width: calc(100% - 75px);
  }
}

@media (max-width: 600px) {
  .main {
    padding-inline: 18px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  .disableMain {
    display: none;
  }
}
