.wrapper {
  background-color: var(--box-background);
  padding: 32px;
  border-radius: var(--border-radius);
}

.marginBottom {
  margin-bottom: 32px;
}

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5em, 1fr));
  gap: 24px;
}

@media (max-width: 600px) {
  .wrapper {
    padding: 7.5px;
  }

  .marginBottom {
    padding: 8.5px 8.5px 0;
  }

  .cardWrapper {
    display: flex;
    flex-direction: column;
  }
}
