:root {
  --main-background: #f5f6fa;
  --main-color: #27272a;
  --box-background: #ffffff;

  --line-height: 1.5;
  --gap: 24px;
  --gap-secondary: 8px;
  --border-radius: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* gap: var(--gap); */
  padding-bottom: var(--gap);
  color: var(--main-color);
  background: var(--main-background);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.swiper {
  width: 100%;
  padding-inline: 6px;
}

.swiper-pagination-bullet {
  opacity: 1 !important;
  background-color: #e4e4e5 !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active {
  height: 6px !important;
  background-color: #3375d9 !important;
  width: 21px !important;
  border-radius: 4px !important;
}
