.main {
  flex-grow: 1;
}

.header {
  font-size: 20px;
  font-weight: 400;
  line-height: var(--line-height);
  margin-bottom: 24px;
}

.overviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20.5em, 1fr));
  gap: 24px;
}

.body,
.courses {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.mySwiper {
  display: none;
}

@media (max-width: 600px) {
  .overviews {
    display: none;
  }

  .mySwiper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 24px;
  }

  .body {
    gap: 8px;
  }
}
