.nav {
  background: var(--box-background);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding-block: 32px;
  width: min(50%, 255px);
  align-self: flex-start;
  flex-shrink: 0;
}

@media (max-width: 800px) {
  .nav {
    display: none;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.link,
.currentLink {
  display: flex;
  align-items: center;
  padding: 8px 30px;
  gap: 8px;
}

.currentLink {
  position: relative;
  background-color: #f9fbff;
}

.currentLink::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #3375d9;
  display: block;
  border-radius: 5px;
}

.linkText,
.currentLinkText {
  line-height: var(--line-height);
}

.linkText {
  font-size: 16px;
  color: #52525b;
}

.currentLinkText {
  font-size: 18px;
  font-weight: 600;
  color: #3375d9;
}
